{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='pygments/code.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var $SELECTED_OBJECTS = new Array();

            /* When files are clicked show corresponding frames */
            $('*[id*="file-"]').click(function(){
                $('.list-frame').remove();
                $('.list-object').remove();

                var id = this.id.replace("file-", "")

                $.getJSON($SCRIPT_ROOT + '/_file_details/'+id,function( data ) {
                    $DATA = data;
                    var frames = data[0].frames;
                    $(frames).each(function() {
                        var name = this.name.replace(/</g,'&lt;').replace(/>/g,'&gt;');
                        $('#list-frames').append(
                                '<a href="#" class="list-group-item list-frame" id="name"><p class="list-group-item-text">'+name+'</p></a>');
                    });
                });
            });

            /* When frames are clicked show corresponding objects */
            $('#list-frames').on('click', 'a', function(){
                $('.list-object').remove();
                var frame_name = $(this).context.innerText;
                var frames = $DATA[0].frames;
                $(frames).each(function(){
                    var frame = this;
                    if(frame.name == frame_name){
                        $.each(frame.objects, function(k,v) {
                            var id = $DATA[0]._id.$oid+'-'+frame.name+'-'+k;
                            if($.inArray(id, $SELECTED_OBJECTS) == -1) {
                                $('#list-objects').append(
                                    '<a href="#" class="list-group-item list-object" id="'+id+'"><p class="list-group-item-text">'+k+'</p></a>');
                            }
                        });
                    }
                })
            });

            /* When objects are clicked add them in the selected list */
            $('#list-objects').on('click', 'a', function(){
                $(this).hide()
                var id = $(this).context.id;
                var [file,frame,object] = id.split("-");
                $SELECTED_OBJECTS.push(id)
                $('#list-selected-objects').append(
                        '<a href="#" class="list-group-item list-selected-object" id="selected-'+id+'">' +
                        '<p class="list-group-item-text">'+object+
                        '<button class="close" id="unselect-'+id+'"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>' +
                        '<button class="close" id="context-'+id+'" data-toggle="modal" data-target="#ContextModal" data-fileid="'+file+'"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></p>' +
                        '</a>');
                $('#bt-gengraph').prop('disabled', false);
            });

            // When the context button is punched open a modal with the filesource
            $('#ContextModal').on('show.bs.modal', function (event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var fileid = button.data('fileid') // Extract info from data-* attributes
              // Update the modal's content.
              var modal = $(this)
              modal.find('.modal-content').load('/view_context/'+fileid)
            })

            $('#GraphModal').on('show.bs.modal', function (event) {
                console.log($SELECTED_OBJECTS.join('&'));

                $.getJSON('/_graph_data/'+$SELECTED_OBJECTS.join('&'), function (jsondata) {
                     jsondata
                })

            })

            /* Unselect all objects */
            $('#bt-unselectall').click( function(){
                $('.list-selected-object').remove();
                $('.list-frame').remove();
                $('.list-object').remove();
                $SELECTED_OBJECTS = []
                $('#bt-gengraph').prop('disabled', true);
            });

            /* Unselect one object */
            $('body').on('click', '*[id*="unselect-"]', function (){
                $( this ).parent().closest('a').fadeOut()
                var id = $(this).attr('id').replace('unselect-','');
                var index = $.inArray(id, $SELECTED_OBJECTS);
                $SELECTED_OBJECTS.splice(index,1);
                $('a[id="'+id+'"]').fadeIn('slow');
                if ($SELECTED_OBJECTS.length == 0) {
                    $('#bt-gengraph').prop('disabled', true);
                }
            });



        });

    </script>

{% endblock scripts %}

{% block content %}

    <!-- Context modal -->
    <div class="modal fade" id="ContextModal" tabindex="-1" role="dialog" aria-labelledby="Context">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <!-- end of modal -->

    <!-- Graph modal -->
    <div class="modal fade" id="GraphModal" tabindex="-1" role="dialog" aria-labelledby="Graph">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Graphs</h4>
                </div>
                <div class="modal-body">
                    <p>Nothing to show !</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->

    <div class="container-fluid">
        <div class="page-header"><h2>File comparaison</h2></div>
            <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h3>Files</h3>
                    <div class="list-group">
                    {% for file in files %}
                        <a href="#" class="list-group-item" id="file-{{ file.id }}">
                            <span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span>
                            <h5 class="list-group-item-heading">{{ file.filename }}</h5>
                            <p class="list-group-item-text">{{ file.revision  }}{{ file.timestamp  }}</p>
                        </a>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                <h3>Frames</h3>
                    <div class="list-group" id="list-frames"></div>
                </div>
                <div class="col-md-3">
                    <h3>Objects</h3>
                    <div class="list-group" id="list-objects"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           <h3>Selected objects for comparaison</h3>
            <div class="list-group" id="list-selected-objects"></div>
            <div class="btn-group" role="group" style="margin-bottom: 1em">
                <button type="button" class="btn btn-default" id="bt-gengraph" data-toggle="modal" data-target="#GraphModal" disabled>Generate graph</button>
                <button type="button" class="btn btn-default" id="bt-unselectall">Unselect all</button>
            </div>
        </div>
    </div>
{% endblock %}