{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='pygments/code.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var $SELECTED_OBJECTS = new Array();

            /* When files are clicked show corresponding frames */
            {% for file in files %}
                $('#{{ file.id }}').click(function(){
                    $('.list-frame').remove();
                    $('.list-object').remove();

                    $.getJSON($SCRIPT_ROOT + '/_file_details/{{ file.id }}',function( data ) {
                        $DATA = data;
                        var frames = data[0].frames;
                        $(frames).each(function() {
                            var name = this.name.replace(/</g,'&lt;').replace(/>/g,'&gt;');
                            $('#list-frames').append(
                                    '<a href="#" class="list-group-item list-frame" id="name"><p class="list-group-item-text">'+name+'</p></a>');
                        });
                    });
                });
            {% endfor %}

            /* When frames are clicked show corresponding objects */
            $('#list-frames').on('click', 'a', function(){
                $('.list-object').remove();
                var frame_name = $(this).context.innerText;
                var frames = $DATA[0].frames;

                $(frames).each(function(){
                    var frame = this;
                    if(frame.name == frame_name){
                        $.each(frame.objects, function(k,v) {
                            var id = $DATA[0]._id.$oid+'-'+frame.name+'-'+k;
                            if($.inArray(id, $SELECTED_OBJECTS) == -1) {
                                $('#list-objects').append(
                                    '<a href="#" class="list-group-item list-object" id="'+id+'"><p class="list-group-item-text">'+k+'</p></a>');
                            }
                        });
                    }
                })
            });

            /* When objects are clicked add them in the selected list */
            $('#list-objects').on('click', 'a', function(){
                $(this).remove()
                var id = $(this).context.id;
                var [file,frame,object] = id.split("-");
                $SELECTED_OBJECTS.push(id)
                $('#list-selected-objects').append(
                        '<a href="#" class="list-group-item list-selected-object" id="selected-'+id+'"><p class="list-group-item-text">'+object+'</p></a>');
            });

            /* Unselect all objects */
            $('#bt-unselectall').click( function(){
                $('.list-selected-object').remove();
                $SELECTED_OBJECTS = []
            });

        });

    </script>

{% endblock scripts %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header"><h2>File comparaison</h2></div>
            <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <h3>Files</h3>
                    <div class="list-group">
                    {% for file in files %}
                        <a href="#" class="list-group-item" id="{{ file.id }}">
                            <span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span>
                            <h5 class="list-group-item-heading">{{ file.filename }}</h5>
                            <p class="list-group-item-text">{{ file.revision  }}{{ file.timestamp  }}</p>
                        </a>
                    {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                <h3>Frames</h3>
                    <div class="list-group" id="list-frames"></div>
                </div>
                <div class="col-md-3">
                    <h3>Objects</h3>
                    <div class="list-group" id="list-objects"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
           <h3>Selected objects for comparaison</h3>
            <div class="list-group" id="list-selected-objects"></div>
            <div class="btn-group" role="group" style="margin-bottom: 1em">
                <button type="button" class="btn btn-default" id="bt-gengraph">Generate graph</button>
                <button type="button" class="btn btn-default" id="bt-context">Show objects context</button>
                <button type="button" class="btn btn-default" id="bt-unselectall">Unselect all</button>
            </div>
        </div>
    </div>
{% endblock %}