{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='dataTables.bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type=text/javascript src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#table').DataTable({
                "order": [[ 1, "desc" ]]
            } );
        } );
     </script>
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
    </script>
{% endblock %}

{% block content %}

     <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Timestamp</th>
                        <th>Filename</th>
                        <th>Revision</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
            {% for file in files %}
                <tr>
                    <td>{{ file.timestamp }}</td>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.revision }}</td>
                    <td>{{ file.user }}</td>
                    <td>
                        <a href="view_file/{{file.id}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a href="#" data-href="remove_file/{{file.id}}" data-toggle="modal" data-target="#confirm-delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}