{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='dataTables.bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type=text/javascript src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#table').DataTable({
                "order": [[ 1, "desc" ]]
            } );
        } );
     </script>
    <script type="text/javascript">
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
            $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
        });
    </script>
    <script type="text/javascript">
        $('#compare').click( function() {
            var checked = [];
            $.each($("input[type='checkbox']:checked"),function(){ checked.push($(this).val());});

            if (checked.length > 2) {alert("You are not allowed to compare more than 2 file");}
            else if (checked.length == 0) {alert("Please select a file !");}
            else if (checked.length == 1) {document.location.href = 'view_files/'+checked;}
            else {document.location.href = 'view_files/'+checked.join("&");}
        });
    </script>
{% endblock %}

{% block content %}

     <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                      <div class="alert alert-success" role="alert">
                    {% else %}
                      <div class="alert alert-{{ category }}" role="alert">
                    {% endif %}
                      {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <div class="row">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Filename</th>
                        <th>Revision</th>
                        <th>User</th>
                    </tr>
                </thead>
                <tbody>
            {% for file in files %}
                <tr>
                    <td>
                        <input type="checkbox" value="{{file.id}}">
                        <a href="view_files/{{file.id}}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                        <a href="#" data-href="remove_file/{{file.id}}" data-toggle="modal" data-target="#confirm-delete">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td>{{ file.timestamp.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.revision }}</td>
                    <td>{{ file.user }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            <p>
                For the selection (max. 2 files): <a href="#" id="compare"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Compare</a>
            </p>
            <p>{{ start }}</p>
        </div>
    </div>
{% endblock %}