{% extends "layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='default.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='pygments/code.css')}}">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">

    /* Script for all the panel functions */
    $(document).ready(function(){

        /* Show or hide all panels */
        $('#bt-showall').click(function(){
            $('[id^=panel-]').fadeIn('slow');
        })
        $('#bt-closeall').click(function(){
            $('[id^=panel-]').fadeOut('slow');
        })

        /* Single panel functions */

        // When click event on a line number occurs, open the corresponding panel
        $('a[href*="#-"]').click(function(){
            var panelno = $(this).attr('href').replace(/[^0-9\.]/g, '');
            $('div[id^="panel-"][id$="-'+panelno+'"]').fadeIn( 'fast' );
            $("<span>Hello world!</span>").insertAfter('span[id="linecode-5"]');
        });
        // When clicking on a frame name, show all the corresponding panels
        $('a[href^="#showframe-"]').click(function(){
            var frame = $(this).attr('href').replace('#showframe-','');
            $('div[id^="panel-'+frame+'-"]').fadeIn( 'slow' );
        });
        // When clicking on the close button, close the corresponding panel
        $('button[id^="close-"]').click(function(){
            id = $(this).attr('id').replace('close-','');
            $('div[id="panel-'+id+'"]').fadeOut( 'slow' );
        });

    });
    </script>
   <script type="text/javascript">
       $(function() {
           $('.inlinesparkline').sparkline('html', {
               type: 'line',
               disableHiddenCheck: true,
               disableInteraction: true,
               height: '20px',
               width: '100px'
           });
       });
   </script>

    <script type="text/javascript">
        /* Initialisation of toolboxes */
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
    </script>

    <script type=text/javascript src="{{ url_for('static', filename='highcharts.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highcharts-data.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='highcharts-exporting.js') }}"></script>

    <script type="text/javascript">
    $(function () {

        var id = $('div[id*="graph-"]').attr("id")
        var file_id = id.split('-')
        console.log(file_id[1])

    // Get the JSON Data and create the chart
    $.getJSON('/_graph_data/'+file_id[1], function (jsondata) {

        var data = $.parseJSON(jsondata);
        console.log(data);

        Highcharts.chart(id, {
            chart: {
                    height: 300
                },
                credits: {
                    enabled: false
                },
                title: {
                    text: 'Evolution of variables',
                    x: -20 //center
                },
                subtitle: {
                    text: '',
                    x: -20
                },
                xAxis: {
                     title: {
                        text: 'Steps'
                    },
                    plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                    }],
                    allowDecimals: false
                },
                yAxis: {
                    title: {
                        text: 'Values'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                },
                tooltip: {
                    valueSuffix: ''
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: data,
                lang: {
                    noData: "Nichts zu anzeigen"
                },
                noData: {
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#303030'
                    }
                }
            });
        });
    });



    </script>

    <script type=text/javascript src="{{ url_for('static', filename='jquery.sparkline.min.js') }}"></script>
{% endblock %}

{% block content %}
    <!-- TODO : avoid full page scroll -->
    <div class="container-fluid">
        {% for file in file %}
            <div class="container">
                <h2>{{ file.filename }}</h2>
                <p>Revision : {{file.revision}}, Date : {{file.timestamp.strftime('%d-%m-%Y %H:%M:%S')}}</p>
                <div id="graph-{{file.id}}" style="min-width: 310px; max-width: 1000px; margin: 50px auto"></div>
            </div>
            <div class="row">
                <!-- File source -->
                <div class="col-md-7" id="file-source-col">
                    {% include "partials/filesource.html" %}
                </div>
                <!-- End of file source -->

                <div class="col-md-5" id="data-col">
                    <div class="row" style="margin: 5px;">
                        <div class="alert alert-info" role="alert">
                            Click on a frame name or a line number to get details or choose to show them all at once by
                            clicking the following button.
                        </div>
                        <p>
                            <div class="btn-group pull-right" role="group" aria-label="..." style="margin-bottom: 1em">
                                <button type="button" class="btn btn-default" id="bt-showall">Show all</button>
                                <button type="button" class="btn btn-default" id="bt-closeall">Close all</button>
                            </div>
                            Analysed frames :
                            {% for frame in file.frames %}
                                <a href="#showframe-{{ frame.name|replace("<", "")|replace(">", "") }}">{{ frame.name }}</a>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="row" id="data-col-row">
                    {% for frame in file.frames %}
                        {% for line in frame.lines %}
                            <!-- Panel for each line -->
                            <div class="panel panel-default collapse" id="panel-{{ frame.name|replace("<", "")|replace(">", "") }}-{{ line.lineno }}">
                                <div class="panel-heading">
                                    {{ frame.name|replace("<", "")|replace(">", "") }} - {{ line.lineno }}
                                    <button class="close" id="close-{{ frame.name|replace("<", "")|replace(">", "") }}-{{ line.lineno }}">&times;</button>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Object</th>
                                            <th>Values</th>
                                            <th>Graph</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for k,v in line.data.items()|sort %}
                                        <tr>
                                            <td>{{ k }}</td>
                                            <td>{{ v }}</td>
                                            <td>
                                                <span class="inlinesparkline">
                                                    {{ v|replace("[", "")|replace("]", "") }}
                                                </span>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                            <!-- end of panel -->
                        {% endfor %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}