{% extends "layout.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            {% for file in files %}
                <h2>{{ file.filename }}</h2>
                <p>Revision : {{file.revision}}, Timestamp : {{file.timestamp}}</p>
                {% for line in file.lines %}
                    <h3>Line : {{line.lineno}}</h3>
                    {% for set in line.data%}
                        <p>{{set}}</p>
                    {%endfor%}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}